.form {
    margin-left: 450px;
    margin-top: 40px;
}

.input_field {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.btn_next > button {
    background-color: #4c5eaf;
    display: flex;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin: 15px;
    margin-left: -400px;
}
